*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-size: 14px;
  font-family: sans-serif;
  display: block;
  width: 375px;
}

statusBar {
  background-color: #0051A8;
  float:left;
  width: 100%;
}

topnav {
  background-color: #0051A8;
  float: left;
  width: 100%;
}

.arrow {
  float: left;
  padding: 45px 20px;
}

h1 {
  color: #fff;
  font-size: 2em;
  font-family: 'Fjalla One', sans-serif;
  text-align: right;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.25em;
  padding: 20px 20px;
}

heading {
  background-color: #E0E0E0;
  width: 100%;
  height: 35px;
  display: inline-block;
}

h2 {
  color: #333;
  font-size: .8em;
  text-transform: uppercase;
  line-height: 2em;
  margin-left: 20px;
  padding-top: 7px;
  letter-spacing: 3px;
  float: left;
  width: 83.5%;
}

.info_button {
  float: left;
  padding-top: 7px;
}

ul {
  padding: 25px 20px;
  width: 100%;
  display: inline-block;
}

.routeone {
  font-size: 1.6em;
  font-weight: bolder;
  display: inline-block;
  width: 17%;
}

.destination {
  font-size: 1.3em;
  display: inline-block;
  width: 60%;
}

.alertSymbol {
  display: inline-block;
  padding-left: 42px;
}

.routetwo {
  font-size: .8em;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2em;
}

.time {
  color: #0A801D;
  font-size: 1.55em;
  font-weight: bold;
  display: inline-block;
  width: 12%;
  text-align: right;
}

.minutes {
  color: #0A801D;
  display: inline-block;
  width: 8%;
  padding-left: 5px;
  text-align: right;
}

.resumeTime {
  font-size: 1.2em;
  display: inline-block;
  width: 12%;
  text-align: right;
}

.resumeAmPm {
  display: inline-block;
  text-align: right;
  width: 8%;
  padding-left: 5px;
}

hr {
  margin: 0;
}
